body{
	font-size: 20px;
	font-family: Candara;
}
#header {
	background-color: cyan;
	width: 100%;
	height: 100px;
	position: fixed;
	top: 0px;
	left: 0px;
	display: flex;
	flex-direction: row;;
	justify-content: space-around;
}

#navbar a {
	position: relative;
	top: 30px;
	display: inline;
	width: 100%;
	margin: 30px;
	font-size: 20px;
	align-items: center;
}

a:hover{
	background-color: white;
	color: black;
}


#definition {

}
#form{
	align-items: center;
}
#email {
	margin: 0px;
	width: 100%;
	padding: 10px;
}
#cost {
	display: flex;
	align-self: center;
	width: 50%;
	margin: auto;
	padding: 10px;
	justify-content: center;
	font-size: 30px;
	font-weight: bold;
}
#submit {
	position: relative;
	left: 0%;
	display: flex;
	margin: 10px;
	background-color: cyan;
	padding: 5px;
	
}
#submit1 {
	position: relative;
	left: 40%;
	display: flex;
	margin: 10px;
	background-color: cyan;
	padding: 5px;
	
}
#submit2 {
	position: relative;
	left: 40%;
	display: flex;
	margin: 10px;
	background-color: cyan;
	padding: 5px;
	
}
#submit3 {
	position: relative;
	left: 40%;
	display: flex;
	margin: 10px;
	background-color: cyan;
	padding: 5px;
	
}
#submit:hover{
	animation-name: buttons;
	animation-duration: 500ms;
	animation-fill-mode: forwards;
}
#submit1:hover{
	animation-name: buttons;
	animation-duration: 500ms;
	animation-fill-mode: forwards;
}
#submit2:hover{
	animation-name: buttons;
	animation-duration: 500ms;
	animation-fill-mode: forwards;
}
#submit3:hover{
	animation-name: buttons;
	animation-duration: 500ms;
	animation-fill-mode: forwards;
}

@keyframes buttons {
	100% {
		background-color: yellow;
		
	}
}

#mid {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 100px;
	background-color: cyan;
	width: 100%;
	height: auto;	
	align-items: center;
	
}
#header-img {
	position: relative;
	padding: auto;
	margin: auto 0px auto 0px;
	width: 450px;
	height: 40px;
	align-self: flex-start;
}		


#content {
	display: flex;
	flex-direction: row;
	border-spacing: 100px;

}
#b1 {
	width: 300px;
	height: 300px;
	border-style: dashed;
	margin:10px;
	padding: 5px;

}
#b2 {
	width: 300px;
	height: 300px;
	border-style: dashed;
	margin:10px;
	padding: 5px;

}
#b3 {
	width: 300px;
	height: 300px;
	border-style: dashed;
	margin:10px;
	padding: 5px;

}
.boxers {
	background-color: silver;
}


.heading {
	position: relative;
	padding: 10px;
	height: 20px;
	text-align: center;
}
.info ul {
	position: relative;
	width: auto;
	margin: auto; 
	padding: auto;
}

#footer {
	position: relative;
	margin: 10px auto 100px auto;
	display: flex;
	background-color: silver;
	width: 80%;
	height: 100px;
	justify-content: flex-end;
}
#footer p {
	align-items: right;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	width: 50px;
	margin: 10px;
	height: 20px;
}
.select {
	align-items: center;

}